/* General styling for both mobile and desktop views */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Set your desired background color */
}

/* Navbar styling */
.navbar {
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: none;
}

.menu-list.show {
    display: block;
}

.menu-list li {
    display: inline-block;
    margin-right: 20px;
}

.menu-list a {
    text-decoration: none;
    color: #fff; /* Set your desired text color */
}

/* Button styling */
.buttr, .butt, .buttv {
    background-color: #4CAF50; /* Set your desired background color */
    color: #000; /* Set your desired text color */
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* Product container styling */
.product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; /* Set your desired background color */
    margin: 5px;
    padding: 10px;
}

/* Increment and Decrement button styling */
.decrement-btn, .increment-btn {
    background-color: #4CAF50; /* Set your desired background color */
    color: #000; /* Set your desired text color */
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Styling for mobile view */
@media only screen and (max-width: 600px) {
    /* Adjustments for mobile view */
    .product-container {
        flex-direction: column;
        text-align: center;
    }
}

/* Styling for desktop view */
@media only screen and (min-width: 601px) {
    /* Adjustments for desktop view */
    .product-container {
        max-width: 600px;
        margin: 5px auto;
    }
}
